.nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    font-size: 20px;
    border-bottom: 2px solid #0497ec;
}

.nav-item{
    margin-right: 70px;
    cursor: pointer;
    font-weight: 400;
}