.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    overflow: hidden;
}

.wrapper{
    display: flex;
    width: 500vw;

}

.item{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-bg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
  }

.slider-img{
    z-index: 1;
}

/* .carousel{
    height: 100vh;
} */